body {
    background-size: 50px 50px;
    margin: 2vw;
    background-image: linear-gradient(to right, lightgrey 1px, transparent 1px),
    linear-gradient(to bottom, lightgrey 1px, transparent 1px);

    animation: fadein 2000ms ease-out;
    -moz-animation: fadein 2000ms ease-out; /* Firefox */
    -webkit-animation: fadein 2000ms ease-out; /* Safari and  Chrome */
    -o-animation: fadein 2000ms ease-out; /* Opera */


    출처: https://sweet-myo.tistory.com/168 [달콤한 환상]
}

@keyframes fadein {
    from {opacity:0;}
    to {opacity:1;}
}
@-moz-keyframes fadein { /* Firefox */
    from {opacity:0;}
    to {opacity:1;}
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {opacity:0;}
    to {opacity:1;}
}
@-o-keyframes fadein { /* Opera */
    from {opacity:0;}
    to {opacity: 1;}
}

.topContainer{
    width: 97vw;
    height: 46vw;
    display: flex;
}

.title{
    width:15vw;
    height: 8vw;
    font-size:4vw;
    font-family: Arial, Helvetica, "MS P Gothic", "MS UI Gothic", Verdata, clean, sans-serif; 
    white-space: pre-line;
    margin-bottom: 1vw;
    margin-top: 4vw;
}

.i1, .i2, .i3{
    float: left;
    margin: 0.7vw;
}

h2{
    font-size: 1vw;
}

.intro{
    margin-top: 13vw;
    background-color: black;
    color: white;
}

.intro, .project, .contact{
    font-size: 2vw;
    line-height: 4vw;
    font-family: 'Rajdhani', sans-serif;
    
}


.bottom{
    border: 1px solid black;
    outline-style: solid;
    outline-color: red;
    width: 15vw;

}


#right{
    display: flex;
    flex:3;
    flex-direction: row;
    margin-left: 15vw;
    width:100vw;
    height:10vw;
}

h1{
    font-size: 2vw;
    margin: auto;
    line-height: 4vw;

}

.r1, .r2, .r3{
    flex: 1;
    height: 48vw;
}

.r1, .r2{
    margin-right: 4vw;
}
.r3{
    margin-right: 1vw;
}
p{
    font-size: 1vw;
    margin-bottom: 2vw;
}

.r1{
}

.olink{
    border-top: 1px solid black;
}

.uni{
    border-top: 1px solid black;
}

.cell{
    border-top: 1px solid black;
}

.blend{
    border-top: 1px solid black;
}

img{
    max-width:11vw;
    display: block; 
    margin: 0 auto;
    margin-top: 3vw;
    margin-bottom: 2vw;
    height:auto !important;
    
}

.r2{
}

.pop{
    border-top: 1px solid black;
}
.speaker{
    border-top: 1px solid black;
}
.lyft{
    border-top: 1px solid black;
}
.yoshi{
    border-top: 1px solid black;
}

.force{
    border-top: 1px solid black;
} 
.coin{
    border-top: 1px solid black;
}

ㅠㅐㅇ

    
    
    
    
    


